<h1>Polls app</h1>

{% if user.is_authenticated %}
User: {{ user.get_username }} |
<a href="{% url 'accounts:logout'%}">Logout</a>
{% else %}
<a href="{% url 'accounts:signin'%}?next={{request.path}}">Sign in</a>
{% endif %}

<h2>Polls available</h2>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<h2>Feedback</h2>
<form action="{% url 'polls:index'%}" method="post">
    {% csrf_token %}
    <input type="input" name="feedback"/>
    <input type="submit" value="Send feedback"/>
</form>