{% extends "polls/base.html" %}

{% block content %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


<h2>Read the latest feedback</h2>
{% if feedback_list %}
    <ul>
    {% for feedback in feedback_list %}
        <li>{{ feedback.text|safe }} - <i>{{ feedback.nickname }}</i></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<h3>Give us feedback</h3>
{% if user.is_authenticated %}
<form action="{% url 'polls:feedback'%}" method="post">
    {% csrf_token %}
    <label>Nickname:</label><br />
   <input name="nickname" value={{ user.get_username }}></input>
   <br /><br />
   <label>Message:</label><br />
   <textarea size="35" name="text"></textarea>
    <br /><br />
    <input type="submit" value="Send feedback"/>
</form>
{% else %}
    <p>Want to send feedback? You need to <a href="{% url 'accounts:signin'%}?next={{request.path}}">sign in</a></p>
{% endif %}


{% endblock %}


